mat-icon{ margin: 0; color: #fff; vertical-align: middle ;}
span{margin-left: 10px; margin-bottom: 5px; color: #fff;}
a{
    color: #fff;
    
}

span{
    font-size: 12px;
}
mat-nav-list{
    border-radius: 0%;
    
}

.mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0;
    height: 40px;
}
