<mat-nav-list>
    <a mat-list-item routerLink="inventario">
        <mat-icon>assignment</mat-icon>
        <span>Inventario de Politicas</span>

    </a>
    <a mat-list-item>
        <mat-icon>aspect_ratio</mat-icon>
        <span>Planeación POA UAI</span>
        
    </a>

    <a mat-list-item>
        <mat-icon>note_add</mat-icon>
        <span>Papeles de trabajo</span>
        
    </a>

    <a mat-list-item>
        <mat-icon>settings_phone</mat-icon>
        <span>Comunicación interna</span>
        
    </a>

    <a mat-list-item>
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Plan de accion enviados</span>
        
    </a>

    <a mat-list-item>
       
        <mat-icon>assignment_turned_in</mat-icon>
        <span> Plan de accion contestados</span>
        
    </a>

  

    <a mat-list-item>
        <mat-icon>send</mat-icon>
        <span cdk-visually-hidden>Evidencia de correos enviados</span>
        
    </a>

    <a mat-list-item>
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Matriz de seguimiento</span>
        
    </a>

    <a mat-list-item routerLink="empleados">
        <mat-icon>people</mat-icon>
        <span>Empleados</span>
        
    </a>


    <a mat-list-item routerLink="login">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesion</span>
        
    </a>
</mat-nav-list>
