                                                            
<mat-sidenav-container>                                     
    <mat-sidenav mode="side" opened>                        
        <img src="../../../assets/logo.png" alt="holamadre">
        <app-sidenav-menu></app-sidenav-menu>               
    </mat-sidenav>                                          
                                                             
    <mat-sidenav-content>                                   
        <router-outlet></router-outlet>                     
                                                            
                                                            
      </mat-sidenav-content>                                
                                                            
                                                            
</mat-sidenav-container>                                     