<div class="empleados-list-container">
    <h2>Lista de Empleados</h2>
    <div class="table-container">
        <table mat-table [dataSource]="empleados" class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            <ng-container matColumnDef="nombres">
              <th mat-header-cell *matHeaderCellDef>Nombres</th>
              <td mat-cell *matCellDef="let emp">{{emp.nombres}}</td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef>Apellidos</th>
              <td mat-cell *matCellDef="let emp">{{emp.apellidos}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="identidad">
              <th mat-header-cell *matHeaderCellDef>Identidad</th>
              <td mat-cell *matCellDef="let emp">{{emp.identidad}}</td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef>Telefono</th>
              <td mat-cell *matCellDef="let emp">{{emp.telefono}}</td>
            </ng-container>
        
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef>Usuario Asignado</th>
                <td mat-cell *matCellDef="let emp">{{emp.usuarios[0]?.username}}</td>
            </ng-container>
        
          
           
            <tr mat-header-row *matHeaderRowDef="['nombres', 'apellidos', 'identidad', 'telefono', 'usuario', ]"></tr>
            <tr mat-row  *matRowDef="let row, let emp; columns: ['nombres', 'apellidos', 'identidad', 'telefono', 'usuario', ];"  (click)="openFichaEmpleado(emp.empleadoId)"></tr>
        
          </table>
                
    </div>
    <button class="btn-agregar" (click)="openAgregarEmpleado()" ><mat-icon aria-label >person_add</mat-icon>Agregar Empleado</button>
    <button class="btn-refresh" (click)="actualizarTabla()" ><mat-icon aria-label >refresh</mat-icon>Actualizar tabla</button>
    <button class="btn-usuarios" (click)="openUsuarios()"><mat-icon>supervised_user_circle</mat-icon>Ver Usuarios</button>

</div>


